.table-cell {
    border: 1px black solid;
    min-width: 75px;
    min-height: 75px;
    /* width: 100%; */
    text-align: center;
    vertical-align: middle;
    line-height: 4em;
    font-size: 125%;
}

.info-button {
    font-size: 75%;
    border: transparent;
    background-color: transparent;
    float: right;
}

.info-button:hover {
    transform: scale(1.75);
}

.pop-up-text {
    border-radius: 2vw;
    padding: 5%;
    text-align: center;
    opacity: 0.55;
    background-color: grey;
}